{% extends 'main.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>

        <div><a href="{% url 'home' %}">All</a></div>

        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a>
            </div>
        {% endfor %}

    </div>
    <div>
        <h5>{{ room_count }} rooms available</h5>
        <a href="{% url 'create_room' %}">Create Room</a>
        {% for room in rooms %}
            <p>@{{ room.host }}</p>
            <a href="{% url 'update_room' room.id %}">Edit</a>
            <a href="{% url 'delete_room' room.id %}">Delete</a>
            <a href="{% url 'room' room.id %}"><h3>{{ room.name }}</h3></a>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}