{% extends 'main.html' %}

{% block title %} Login {% endblock %}

{% block content %}
{% if page == 'login' %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login">

        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </form>
</div>
{% else %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
        <p>Already signed up yet?</p>
        <a href="{% url 'login' %}">Login</a>
    </form>
</div>
{% endif %}
{% endblock %}